name: Nango CLI Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Nango CLI
        run: |
          echo "hello"
          sudo apt-get update && sudo apt-get install -y nango
